@page {
  size: A4;
  margin: 2.5cm;
}

html {
  font-size: 11pt;
}

body {
  padding: 0;
}

nav { display: none; }

h1, h2, h3, h4 { page-break-after: avoid; }

p {
  font-size: 11pt;
  text-align: justify;
}

blockquote { text-align: start; }

input[type="checkbox"] { display: inline-block; }

pre, table { page-break-inside: avoid; }
