.author {
	font-style: italic;
}

body {
	padding-bottom: 5rem;
}

article {
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: justify;
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

hr {
	border: 0.5px solid gray;
}

blockquote {
	font-style: italic;
	margin-left: 0;
	padding-left: 1rem;
	color: #333;
	border-left: 2px solid #333;
}

input[type="checkbox"] {
	display: none;
}

ul:hover input[type="checkbox"]:checked {
	display: inline-block;
}
