<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/print.css" media="print">

	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
	<script>
		MathJax = {
			tex: {
				displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
				inlineMath: [['\\(', '\\)'], ['$', '$']], // inline
			}
		};
	</script>

</head>

<body>
	{{ block "main" . }}
	{{ end }}
</body>

</html>
