<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">
  <link rel="stylesheet" href="{{ "css/print.css" | absURL }}" media="print">

  <script>
    MathJax = {
      tex: {
        displayMath: [['\\[', '\\]'], ['$$', '$$']],
        inlineMath: [['\\(', '\\)'], ['$', '$']],
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body>
  {{ block "main" . }}{{ end }}
</body>

</html>
